body{
    background-color: antiquewhite;
}
h1{
    color: brown; font-size: 30px;
}
h2{
    font-size: 20px; color: cadetblue;
}
li{
    color: cadetblue;
    font-size: 20px;
}
img {
    border: 3px dashed green;
    margin: auto;
    display: block;
    border-radius: 400px;
}
a{
    text-decoration: none;
    font-size: 20px;
    color: blueviolet   ;
}