body{
    font-family: 'Big Shoulders Inline Display', cursive;
    font-family: 'Oswald', sans-serif;
    background-color: antiquewhite;
    font-size: 20px;
}
table{
    border-radius: 30px;
    padding: 30px;
    
    border: dashed;
    d
}